.about-list {
    display: flex;
    padding-top: 0;
}

.about-title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.about-item {
    position: relative;
    width: 370px;


    &:not(:last-child) {
        margin-right: 30px;
    }
}


.about-pic {
    display: block;
}


.desc {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-txt-cl);
    bottom: 0;
}


.about,
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}